electron-vcredist
test
frontend
src/www/public/build
guest-electron
queue-display-child-app
Dispenser/child-app/renderer
Dispenser/wrapper/renderer
src/www/database/database.sqlite
src/www/database/database.sqlite-shm
src/www/database/database.sqlite-wal
src/www/public/build/manifest.json
