@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your custom CSS styles here */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.scrolling-text-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}
.scrolling-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 45s linear infinite;
}
.marquee-container {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}