@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts: Nunito and Material Symbols */